<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - BCA Trades Application</title>
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/bundles/modernizr")

<script type="text/javascript">
    var baseUrl = "@Url.Content("~")";
</script>

<meta name="viewport" content="width=device-width">
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div>
                <p class="site-title">@Html.ActionLink("BCA Trades Application", "TradesList", "Trades")</p>
            </div>
            <div>
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("Trades List", "Index", "Trade")</li>
                        <li>@Html.ActionLink("Trades Creation", "Create", "Trade")</li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - BCA Research Inc.</p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
