<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - BCA Trades Application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css/bootstrap")
    @Styles.Render("~/Content/jqueryUIBootstrapCSS")
    <link href="~/Content/datepicker.css" rel="stylesheet" />
    <link href="~/Scripts/select2-3.4.5/select2.css" rel="stylesheet" />
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <link href="~/Content/KoGrid.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
    <script type="text/javascript">
        var baseUrl = "@Url.Content("~")";
    </script>
    @RenderSection("HeadContent", required: false)
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="row float-right">
                <section id="login">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <h6>@(User.Identity.IsAuthenticated ? "Logged In as: " + User.Identity.Name : "Not logged in.")</h6>

                        </li>
                        <li>@if(User.Identity.IsAuthenticated)
                                {
                            using (Html.BeginForm("LogOff", "Account", FormMethod.Post,
 new { id = "logoutForm" }))
{

    @Html.AntiForgeryToken()
    <a href="javascript:document.getElementById('logoutForm').submit()" class="btn">Log Out</a>

                            }
}
                        </li>
                    </ul>

                </section>

            </div>
            <div class="row">
                <p class="site-title">
                    <img src="~/Content/images/BCA_research_logo.png" />@Html.ActionLink(" BCA Trades Application", "Index", "Trade")
                </p>
            </div>

            <div class="row">
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("Trades List", "Index", "Trade")</li>
                        <li>@Html.ActionLink("Trades Creation", "Create", "Trade")</li>
                    </ul>
                </nav>

            </div>
        </div>
    </header>
    <div id="body">
        <div class="container">
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - BCA Research Inc.</p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryUI")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/knockout")
    <script src="~/Scripts/koGrid-2.1.1.js"></script>
    <script src="~/Scripts/select2-3.4.5/select2.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/moment-datepicker.js"></script>
    <script src="~/Scripts/moment-with-langs.js"></script>
    <script src="~/Scripts/bootbox.js"></script>
    <script src="~/Scripts/toastr.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
