<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - BCA Trades Application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/Jquery/css")
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="~/Scripts/select2-3.4.5/select2.css" rel="stylesheet" />
    @Styles.Render("~/Content/Site/css")
    <link href="~/Content/moment-datepicker/datepicker.css" rel="stylesheet" />
    <script type="text/javascript">
        var baseUrl = "@Url.Content("~")";
    </script>

    <meta name="viewport" content="width=device-width">
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div>
                <p class="site-title">@Html.ActionLink("BCA Trades Application", "Index", "Trade")</p>
            </div>
            <div>
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("Trades List", "Index", "Trade")</li>
                        <li>@Html.ActionLink("Trades Creation", "Create", "Trade")</li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div id="body">
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - BCA Research Inc.</p>
            </div>
        </div>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/knockout")
    <script src="~/Scripts/select2-3.4.5/select2.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/moment-with-langs.js"></script>
    <script src="~/Scripts/moment-datepicker.js"></script>
    <script src="~/Scripts/bootbox.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
