<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - BCA Trades Application</title>
    @Styles.Render("~/Content/Jquery/css")
    @Styles.Render("~/Content/Bootstrap/css")
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen"
          href="http://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css">
    @Styles.Render("~/Content/Site/css")

    <script type="text/javascript">
        var baseUrl = "@Url.Content("~")";
    </script>

    <meta name="viewport" content="width=device-width">
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div>
                <p class="site-title">@Html.ActionLink("BCA Trades Application", "Index", "Trade")</p>
            </div>
            <div>
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("Trades List", "Index", "Trade")</li>
                        <li>@Html.ActionLink("Trades Creation", "Create", "Trade")</li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div id="body">
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - BCA Research Inc.</p>
            </div>
        </div>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/knockout")
    @RenderSection("scripts", required: false)
</body>
</html>
