@model TradesWebApplication.ViewModels.TradesCreationViewModel

@{
    ViewBag.Title = "Trade Details";
}

<h2>Trade Details</h2>

@*<div>
    <h4>Trade</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Trade.trade_uri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trade.trade_uri)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trade.trade_label)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trade.trade_label)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trade.trade_editorial_label)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trade.trade_editorial_label)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trade.created_on)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trade.created_on)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trade.created_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trade.created_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trade.last_updated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trade.last_updated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trade.Benchmark.benchmark_uri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trade.Benchmark.benchmark_uri)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trade.Currency.currency_uri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trade.Currency.currency_uri)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trade.Length_Type.length_type_label)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trade.Length_Type.length_type_label)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trade.Relativity.relativity_label)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trade.Relativity.relativity_label)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trade.Service.service_uri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trade.Service.service_uri)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trade.Status1.status_label)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trade.Status1.status_label)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trade.Structure_Type.structure_type_label)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trade.Structure_Type.structure_type_label)
        </dd>

    </dl>
</div>*@


<div>
    <h4>Testing Retrival</h4>
    <table id="main_trade_table">
        <tr>
            <td>
                <div class="editor-label">
                    @Html.LabelFor(model => model.service_id)
                </div>

            </td>
            <td>
                <div class="editor-field">

                    @Html.ValidationMessageFor(model => model.service_id)
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="editor-label">
                    @Html.LabelFor(model => model.length_type_id)
                </div>

            </td>
            <td>
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.length_type_id, new SelectList(Model.Length_Types, "length_type_id", "length_type_label"))
                    @Html.ValidationMessageFor(model => model.length_type_id)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">
                    @Html.LabelFor(model => model.relativity_id)
                </div>
            </td>
            <td>
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.relativity_id, new SelectList(Model.Relativitys, "relativity_id", "relativity_label"))
                    @Html.ValidationMessageFor(model => model.relativity_id)
                </div>
            </td>
        </tr>
        <tr id="benchmark_selection">
            <td>
                <div class="editor-label">
                    @Html.LabelFor(model => model.benchmark_id)
                </div>
            </td>
            <td>
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.benchmark_id, new SelectList(Model.Benchmarks, "benchmark_id", "benchmark_label"), String.Empty)
                    @Html.ValidationMessageFor(model => model.benchmark_id)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">
                    @Html.LabelFor(model => model.created_on)
                </div>
            </td>
            <td>
                <div class="editor-field">
                    @Html.EditorFor(model => model.created_on)
                    @Html.ValidationMessageFor(model => model.created_on)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">
                    @Html.LabelFor(model => model.trade_label)
                </div>
            </td>
            <td>
                <div class="editor-field">
                    @Html.EditorFor(model => model.trade_label)
                    @Html.ValidationMessageFor(model => model.trade_label)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">
                    @Html.LabelFor(model => model.trade_editorial_label)
                </div>
            </td>
            <td>
                <div class="editor-field">
                    @Html.EditorFor(model => model.trade_editorial_label)
                    @Html.ValidationMessageFor(model => model.trade_editorial_label)
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="editor-label">
                    @Html.LabelFor(model => model.structure_type_id)
                </div>
            </td>
            <td>
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.structure_type_id, new SelectList(Model.Structure_Types, "structure_type_id", "structure_type_label"))
                    @Html.ValidationMessageFor(model => model.structure_type_id)
                </div>
            </td>
        </tr>
    </table>
    
    <div id="update-tradeLineGroups">
        @*data-bind="foreach: tradeLineGroups">*@
        @*<input type="hidden" name="line_group_count" data-bind="value: $index()" />*@
                    @{int i = 1;}
                    @foreach (var itemGroup in Model.TradeLineGroups)
                    {
                        <fieldset class="tgroup">
                            <legend class="trade_group">Group @Html.Raw(i) - @Html.Raw(itemGroup.trade_line_group_id) @*Group <span data-bind="text: ($index() + 1)"></span>*@</legend>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Group Information</th>
                                        <th>Trade Line(s)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="editor-label">Group Structure</div>
                                            @Html.DisplayFor(modelItem => itemGroup.trade_line_group_type_id)
                              
                                            <div class="editor-label">Editorial Label</div>
                                            @Html.DisplayFor(modelItem => itemGroup.trade_line_group_editorial_label)
                              
                                            <div class="editor-label">Canonical Label</div>
                                            @Html.DisplayFor(modelItem => itemGroup.trade_line_group_label)
                              
                                        </td>
                                        <td>
                                            <table>
                                                <thead>
                                                    <tr>
                                                        <th>LineID</th>
                                                        <th>Position</th>
                                                        <th>Financial Instrument</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.TradeLines.Where(item=> item.trade_line_group_id == itemGroup.trade_line_group_id))
                                                    {
                                                        <tr>
                                                            <td>@Html.DisplayFor(modelItem => item.trade_line_id)</td>
                                                            <td>@Html.DisplayFor(modelItem => item.position_id)</td>
                                                            <td>@Html.DisplayFor(modelItem => item.tradable_thing_id)</td>
                                                        </tr>
                                                    }
                                                </tbody>                                   
                                            </table>
                                        </td>
                                    </tr>
                   
                                </tbody>
                            </table>
                        </fieldset>
                        i++;
                    }
    </div>
    
    <table>
        <tr>
            <td>
                <div class="editor-label">
                    @Html.LabelFor(model => model.instruction_entry)
                </div>

            </td>
            <td>
                <div class="editor-field">
                    @Html.EditorFor(model => model.instruction_entry)
                    @Html.ValidationMessageFor(model => model.instruction_entry)
                </div>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">
                    @Html.LabelFor(model => model.instruction_entry_date)
                </div>

            </td>
            <td>
                <div class="editor-field">
                    @Html.EditorFor(model => model.instruction_entry_date)
                    @Html.ValidationMessageFor(model => model.instruction_entry_date)
                </div>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">
                    @Html.LabelFor(model => model.instruction_exit)
                </div>

            </td>
            <td>
                <div class="editor-field">
                    @Html.EditorFor(model => model.instruction_exit)
                </div>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">
                    @Html.LabelFor(model => model.instruction_exit_date)
                </div>
            </td>
            <td>
                <div class="editor-field">
                    @Html.EditorFor(model => model.instruction_exit_date)
                </div>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">
                    @Html.LabelFor(model => model.instruction_type_id)
                </div>

            </td>
            <td>
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.instruction_type_id, new SelectList(Model.Instruction_Types, "instruction_type_id", "instruction_type_label"), "Instruction Type")
                </div>
            </td>
            <td>
                <div class="editor-field">
                    @Html.EditorFor(model => model.instruction_label)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">
                    @Html.LabelFor(model => model.hedge_id)
                </div>
            </td>
            <td>
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.hedge_id, new SelectList(Model.Hedge_Types, "hedge_id", "hedge_label"))
                </div>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">
                    @Html.LabelFor(model => model.currency_id)
                </div>
            </td>
            <td>
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.currency_id, new SelectList(Model.Currencies, "currency_id", "currency_label"), String.Empty)
                </div>
            </td>
            <td></td>
        </tr>
    </table>
    
    

 
</div>


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.trade_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
