@model TradesApp.Models.Trade

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Trade</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.trade_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.trade_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.trade_uri)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.trade_uri)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Relativity.relativity_label)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Relativity.relativity_label)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Length_Type.length_type_label)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Length_Type.length_type_label)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Structure_Type.structure_type_label)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Structure_Type.structure_type_label)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Service.service_uri)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Service.service_uri)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Currency.currency_uri)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Currency.currency_uri)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Benchmark.benchmark_uri)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Benchmark.benchmark_uri)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.trade_label)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.trade_label)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.trade_editorial_label)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.trade_editorial_label)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.created_on)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.created_on)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.created_by)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.created_by)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.last_updated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.last_updated)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Status1.status_label)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Status1.status_label)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
